*.toml
node_modules
.aws-sam
.DS_Store
.vscode
.swiftpm
.stackery

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
